<html>
    <head>
        <title>AJ's Blog</title>
    </head>


    <body>

        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>Published: 14.04.2014, 12:14</p>
            <h2><a href="">First post</a> </h2>
            <p>This is a sample text. Please do not read.</p>
        </div>

        <div>
            <p>Published: 14.04.2014, 12:14</p>
            <h2><a href="">Second post</a> </h2>
            <p>This is a sample text. Please do not read.</p>
        </div>

    </body>

</html>